body{
    font-family: 'Archivo Narrow', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
margin: 5%;
}
span{
    color: rgb(240, 111, 111);
}
h1{
    font-size: 55px ;
}
.button{
    background-image: linear-gradient(red,yellow);
    padding:20px 40px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 23px;
}
.flexibility{
    display: flex;
}
.positioning{
    width: 50%;
    padding-left: 8%;
}
.positioning img{
    width: 100%;  
}