body{
    font-family: 'Archivo Narrow', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Merriweather Sans', sans-serif;
margin: 0%;
margin-top: 20px;
}
.color{
    color: rgb(240, 111, 111);
}
h1{
    font-size: 55px ;
}
h2{
    font-size: 30px ;
}
.button{
    background-image: linear-gradient(red,yellow);
    padding:20px 40px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-radius: 23px;
}
.flexibility{
    display: flex;
    margin-bottom: 130px;
   
}
.positioning{
    width: 50%;
    padding-left: 5%; 
}
.positioning img{
    width: 100%; 
}
p{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
}
.image1{
    background-image: url(images/8.png);
    background-repeat: no-repeat;
    
}
.image2{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    
}
#img{
    width: 350px;
    height: 500px;
    padding-left: 20%;
}
.center{
    text-align: center;
}
.boxshadow{
    width: 30%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 2% ;
    padding-right: 2%;
    padding-bottom: 10px;
    box-shadow: 10px 10px 40px gray;
}
#border1{
    border-image: linear-gradient(pink, red);
    border-image-slice: 1;
    border-left: 8px solid;
    border-radius: 20px;
}
.border2{
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
    border-left: 8px solid;
    border-radius: 20px;
}
#border3{
    border-image: linear-gradient(rgb(115, 236, 115),rgb(2, 99, 10));
    border-image-slice: 1;
    border-left: 8px solid;
    border-radius: 20px;
}
.pic{
        width: 100%;
        height: 50%;
        margin-top: 15px;
    
}
#none{
    background-color: rgb(31, 158, 14);
    height: 100px;
    padding-top: 20px;
    padding-bottom:70px;
    
}
.boxshadow1{
    width: 92%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding-left: 2% ;
    padding-right: 2%;
    padding-bottom: 10px;
    box-shadow: 10px 10px 40px gray;
}
.column {
    float:left;
    width: 33.33%;
    padding: 10px;
    height: 100px; 
  }
